:root {
    /* khai báo thẻ gốc html */
    --white-color:#fff;
    --back-color:#000;
    --text-color:#333;
}

* {
    /*Tất cả box-sizing kế thừa từ html  */
    box-sizing: ỉnherit;
}

html {
    /* 1rem = 16px, để lấy 3/4 hay 12px nên đặt lại qui định {1rem = 10px}*/
    font-size:62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.grid {
    /* flexbox */
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.667%;
}


.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 79.333%;
}

.btn {
    width: 124px;
    height:34px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    padding:  12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

/*List Selection  */
.select-input {
    min-width: 130px;
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    
}

.select-input_label {
    font-size: 1.6 rem;
}

.select-input_list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 16px;
    list-style: none;
    display: none; 
    z-index: 1;

}

.select-input_link {
    font-size: 1.4 rem;
    color: #333;
    text-decoration: none;
    display: block;
    padding: 4px 0;  
    
}

.select-input:hover .select-input_list {
    display: block;
}

.select-input_link:hover {
    color: red;
}





