.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;

}


.heder__navbar-item:hover,.heder__navbar-item--link:hover,.Login-nav:hover {
    cursor: pointer;
    color: rgb(255,255,255,0.7);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0%;

}

.heder__navbar-item {
    margin: 8px;
    position: relative;
}

.heder__navbar-item,
.heder__navbar-item--link {
    display: inline-block;
    font-size: 1.4rem;
    color:var(--white-color);
    /* Bỏ gạch chân */
    text-decoration: none; 
    font-weight: 300;
}

.heder__navbar-item--bolder {
    font-weight: 400;
}

.heder__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #ffacac ;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.heder__navbar-item--notify:hover .header_notify {
    display: block;
}
.Login-nav {
    display: inline-block;
    font-size: 1.4rem;
    color:var(--white-color);
    text-decoration: none; 
    font-weight: 300;
}

.header_notify {
    display: none;
    position: absolute;
    top: 100%;
    width: 400px;
    right: 0;
    background-color: var(--white-color);
    /* Điều chỉnh tâm animation */
    transform-origin: top right;
    animation:headerNotify ease-in 0.2s ;
}

@keyframes headerNotify  {
    from {
        transform: scale(0);
    }
    to {
        transform:scale(1);
    }
}

.header_notify-header {
    height: 20px;
    background-color: var(--white-color);
}

.header_notify-header h3 {
    color: #666;
    margin: 0 0 0 10pxpx;
    font-size: 1.4rem;
}

.hear_notify-info {
    padding-left: 20px;
    color: #444;
    display: block;
}


.container {
    background-color: #f5f5f5;
}

.category {
    border-radius: 5px;
    background-color: var(--white-color);
}

.category-list {
    list-style: none;
    padding: 0 0 12px 0;
    margin-left: 20px;
   
}

.category-item {
    font-size: 1.2em;
}

.category_heading { 
   font-size: 1.6em;    
   border-bottom: 2px solid rgb(0,0,0,0.05);  
   padding: 12px 16px;
    margin-top: 0;
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
    right: 0;
    transform:right linear 0.1s;
    
}

.category-item__link:hover {
    right: -4px;
    color:red;
}



.app_content {
    padding-top: 36px;
}

.home-filter {
    background-color: rgb(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 10px;
    border-radius: 3px;

}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter-btn {
    margin-right: 12px;
    max-width: 90px;
}

.select-input__icon {
    font-size: 1.4rem;
    color:rgb(133,133,133);
    position: relative;
    top: 1px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-right: 22px;
}

.home-filter__page-num-current {
    color: red;
}

.home-filter__page-control {
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btton {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btton:first-child {
    border-right:1px solid #eee ;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btton--disabled {
    background-color: #f9f9f9; 
    cursor: default;
}

.home-filter__page-btton--disabled .home-filter__page-icon {
    color: #ccc;
}




/* Sản phẩm */
.home-product-item {
    margin: 10px 0;
    height: 300px;
    display: flex;
    background-color: var(--white-color);
    flex-direction: column;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


@keyframes appear{
    from {
        opacity: 0.5;
        /* transform: translateY(100px); */
        transform: translateX(-100px);
    }
    
    to{
        opacity: 1;
        /* transform: translateY(0px);  */
        transform: translateX(0px); 
    }
}

.home-product-item__img {
    height: 80px;
    flex: 2;
    background-color: rgb(0,0,0,0.3);
}

.home-product-item_name {
    font-size: 1.4rem;
    flex: 1;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* footer */
.footer_content {
    font-size: 1.6rem;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


/* Header with Search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header_logo{
    width: 200px;
}

.header_logo-img {
    width: 150px;
}

.header_search {
    flex: 1;
    height: 40px;
    border-radius: 3px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.header_cart{
    width: 150px;
    text-align: center;

}

.header_cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin: 6px;

}

.header_search-input {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
 
}
.header_search_select {
    border-left:1px solid #ccc;
    padding-left:16px ;
}

.header_search_select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header_search_select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header_search_btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
}

.header_search_btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

